<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Thin Airfoil Theory</title>
    <meta name="description" content="Thin Airfoil Theory of arbitrary airfoil shape">
    <meta name="keywords" content="airfoil,theory">
    <meta name="author" content="John Dews-Flick">
</head>

<body>

    <div id="app">


<div class="">
  <div class="pure-g" style="max-width: 1200px; margin:auto; padding-top: 50px;">
      <div class="pure-u-1-2"><canvas id="airfoil" width="500" height="300" style="border:2px solid;"></canvas></div>
      <div class="pure-u-1-2"><h3 style="padding:0; margin:0">Find Lift Coefficient of an Arbitrary Airfoil <br><small>This program calculates the mean camber line (show in red) from the airfoil draw then uses thin airfoil theory to find the lift coefficient.</small> </h3>

        <p><b>Instructions: </b>Draw the airfoil within the box provided, where the dashed line is the cord. If you wish todo another airfoil a page refresh is required. Results obtained are purely for fun.</p>

        <button class="pure-button pure-button-primary" @click="getTop()" v-if="fresh">Compute</button>
        <a class="pure-button" target="_blank" href="https://en.wikipedia.org/wiki/Airfoil#Derivation_of_thin_airfoil_theory">Learn Theory</a>


        <p>

          Created by John Dews-Flick studying at the University of Florida

        </p>




      </div>


                <div class="pure-u-1" style="padding: 20px" v-if="stats">


        <table class="pure-table" style="margin:auto">
          <thead>
              <tr>
                  <th>Angle°</th>
                  <th>Lift Coefficient</th>
              </tr>
          </thead>

          <tbody>
              <tr v-for="index in 20" :key="index">
                  <td>{{ index-10 }}°</td>
                  <td>{{ stats.liftCoefAtAngle(index-10).toFixed(3) }}</td>

              </tr>

          </tbody>
      </table>

      </div>



  </div>
</div>

    </div>
    <script src="./main.js"></script>
</body>
</html>
